{{!-- /**********************************************************************************
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Olesia Mashkovtseva 
* Student ID: n01454607 
* Date: 26.02.2022
*
************************************************************************************/ --}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="header">
      {{> header}}
    </div>
    <div class="content">
        {{{body}}}
    </div>
    <div class="footer">
      {{> footer}}
    </div>
  </body>
</html>