<h1>{{title}}</h1>
<div>
<form action="/api/ui/restaurants" method="post">
    <div class="form-group">
        <label>Page:</label>
        <input type="text" name="page"  class="form-control"/>
        <label>Per Page:</label>
        <input type="text" name="perPage" class="form-control"/>
        <label>Borough:</label>
        <input type="text" name="borough" class="form-control"/>
    </div>      
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>